body{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: blanchedalmond;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
nav{
    height: 50vh;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height:20px;
    background-color: blueviolet;
}
nav a{
    width:10vw;
    text-align: center;
    text-decoration: none;
    color:red;
}


img{
    width:30vw;
    height: 30vh;
}
img:hover{
    width: 100%;
}
#smiley{
    background-color: crimson;
    width: 20px;
    height:20px;
    border-radius: 50%;
    position: absolute;
    left:5vw;
    top:0;
    animation-duration: 5s;
    animation-iteration-count: infinite;
    animation-name: getBig;
}

@keyframes getBig{
    from{
        transform: scale(0);
        margin: 0 0 0 0 ;

    }

    to{
        transform: scale(5);
        margin: 100% 0 0 100%; 

    }
}